mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			h3.wow.animate__fadeInUp Скандинавский дизайн
			p.wow.animate__fadeInUp Полностью белый интерьер , безусловно, является одним из&nbsp;наших любимых дизайнерских трендов. Монохроматическая обстановка может показаться легкой, однако есть несколько решений, которые могут улучшить или разрушить любой минималистичный дизайн . Золотые акценты добавляют комнате сияния, а&nbsp;различные текстуры создают глубину.
			+img('article-bg-1.jpg').wow.animate__fadeInUp
			h5.wow.animate__fadeInUp Современный декор середины века
			p.wow.animate__fadeInUp В&nbsp;вашем доме будет так много различных произведений искусства, смешанных с&nbsp;высококачественными индивидуальными предметами , что вы&nbsp;почувствуете, что совершаете частную экскурсию по&nbsp;музею! Пандемический кризис изменил нашу жизнь&nbsp;и... наш дом. Домашние офисы , вероятно, являются самыми посещаемыми комнатами в&nbsp;этом году, и&nbsp;этот полностью черный роскошный домашний офис будет держать вас в&nbsp;тонусе! Торшер S&nbsp;tanley станет идеальным офисным светильником.
			p.wow.animate__fadeInUp Один из&nbsp;главных трендов года, который сохранится и&nbsp;в&nbsp;следующем году! Возьмите этот теплый нейтральный декор спальни в&nbsp;качестве вдохновения для вашего следующего большого ремонта дома. Подвесной светильник Turner добавит особого свечения и&nbsp;сияет даже в&nbsp;выключенном состоянии.
			ul.wow.animate__fadeInUp
				li Возьмите этот теплый нейтральный декор спальни
				li Торшер S&nbsp;tanley станет идеальным офисным светильником.
					ul
						li Домашние офисы
						li Торшер S&nbsp;tanley станет идеальным офисным светильником.
				li Домашние офисы
			+b.mediaContent.wow.animate__fadeInUp
				mixin slide(i)
					+e.slide.swiper-slide
						+e.item
							+pic(`arcticleSliderBg-${i}.jpg`, `bg`, 0)
				+e.sliderContainer
					+e.slider--js.swiper
						.swiper-wrapper
							+slide(1)
							+slide(1)
							+slide(1)
							+slide(1)
							+slide(1)
							+slide(1)
					+arrow
					.swiper-pagination
			blockquote.wow.animate__fadeInUp
				p Мы&nbsp;можем почувствовать некоторые средиземноморские вибрации с&nbsp;этим теплым декором гостиной . Бежевое кресло вызовет у&nbsp;нас желание остаться дома и&nbsp;провести приятный вечер с&nbsp;семьей и&nbsp;друзьями.
			mixin articleTable(th1, th2, th3, th4)
				+e.tableWrap.wow.animate__fadeInUp
					table
						thead
							tr
								th(scope='col')!= th1
								th(scope='col')!= th2
								th(scope='col')!= th3
								th(scope='col')!= th4
						tbody
							block

			mixin articleTableContent(thead, td1, td2, td3)
				tr
					th(scope='row')!= thead
					td!= td1
					td!= td2
					td!= td3
			h6.wow.animate__fadeInUp Декором гостиной
			+articleTable('Тренды', 'Декор', 'Тренды', 'Декор')
				+articleTableContent('Спальня', 'Двери', 'Спальня', 'Светильник')
				+articleTableContent('Кухня', 'Ковер', 'Кухня', 'Комод')
				+articleTableContent('Ванная комната', 'Диван', 'Ванная комната', 'Шкаф')
			p.wow.animate__fadeInUp Один из&nbsp;главных трендов года, который сохранится и&nbsp;в&nbsp;следующем году! Возьмите этот теплый нейтральный декор спальни в&nbsp;качестве вдохновения для вашего следующего большого ремонта дома. #[a(href="#") Подвесной светильник Turner] добавит особого свечения и&nbsp;сияет даже в&nbsp;выключенном состоянии.
			ol.wow.animate__fadeInUp
				li Возьмите этот теплый нейтральный декор спальни
				li Торшер S tanley станет идеальным офисным светильником.
					ol
						li много различных произведений искусства
						li Домашние офисы
				li Торшер S tanley станет идеальным офисным светильником.
			h6.wow.animate__fadeInUp Современный декор середины века
			p.wow.animate__fadeInUp В&nbsp;вашем доме будет так много различных произведений искусства, смешанных с&nbsp;высококачественными индивидуальными предметами , что вы&nbsp;почувствуете, что совершаете частную экскурсию по&nbsp;музею! Пандемический кризис изменил нашу жизнь&nbsp;и... наш дом. Домашние офисы , вероятно, являются самыми посещаемыми комнатами в&nbsp;этом году, и&nbsp;этот полностью черный роскошный домашний офис будет держать вас в&nbsp;тонусе! Торшер S&nbsp;tanley станет идеальным офисным светильником.
			+b.video-wrrpaer.wow.animate__fadeInUp
				iframe(src='https://www.youtube.com/embed/L_LUpnjgPso' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			p.wow.animate__fadeInUp Этот декор гостиной в&nbsp;стиле ар-деко сочетает в&nbsp;себе лучшие черты этого особого стиля. Узоры, благородные материалы, дизайнерские изделия высокого класса и&nbsp;оттенки оливкового цвета: идеальное вдохновение для осеннего ремонта дома.
			+e.share Поделиться
			+soc()
				+item-sos('fb')
				+item-sos('twitter')
				+item-sos('vk')
				+item-sos('instagram')
	// end sContent